/* Stiililehe algus */

/* minuPakkumised.html */
.MinuPakkumineInner{
    display: flex;
    align-items: center;
    flex-direction: row;
    max-height: 20em;
    padding: 1%;
}

.MinuPakkumisedConteiner{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    border: solid;
    padding: 1%;
}

.minuTag{
    background: aqua;
    width: max-content;
    padding-top: 0;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 25px;
    white-space: nowrap;
    margin: 0.1em;

}

.minuTags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.minuMangPilt{
    width: 18em;
    margin-right: 2%;
}

img {
    width: 100%;
    height: auto;
}

.minuPakkumine {
    max-height: 20%;
    /* border: solid;*/
    margin-bottom: 2%;
}

.minuKirjeldus {
    width: 70em;
    height: auto;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
}
.minuKirjeldusTekst {
}

.minuKirjeldusTekstConteiner{
    max-height: 9em;
    overflow-y: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #000000; */
}

.minuNupud {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teadePakkumine {
    white-space: nowrap;

}
.muudaKuuludust{
    white-space: nowrap;
}
