/* Stiililehe algus */
#mainLogo{
    object-fit: cover;
    width: 22em;
    height: 4em;
    margin-top: 1em;
    margin-left: 0.5em;
}

.navbar {
    overflow: hidden;
    background-color: #F4D06F;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.groupOfButtons{
    display: flex;
    justify-content: space-evenly;
}
.navbuttons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2em;
}
.navbuttons button{
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    color: white;
    border-radius: 0.5em;
    border: 0;
    padding: 0.5em;
    margin: 0.5em;
    width: 12em;
}
.mainPrimary{
    background-color: #392F5A;
}
.secondPrimary{
    background-color: #7B7491;
}
.chatIcon{
    height: 4em;
}
.profileIcon{
    height: 4em;
}
.navIcons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons{
    margin: 1em;
}
.listingsOuter{
    margin-top: 10em;
    background-color: #e0e0e0;
}
.listingsInner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1em;
}
.listing{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #edf0ee;
    padding: 1em;
    width: 15em;
    margin: 1em;
    position: relative;
}
.listing h1{
    font-size: 1.2em;
}
.listing p{
    font-size: 0.8em;
}
.listingImage{
    width: 15em;
}
.listingText{
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    width: 100%;
}
.listingTags{
    display: flex;
    flex-wrap: wrap;
}
.tag{
    background-color: #F4D06F;
    border-radius: 1em;
    padding: 0.5em;
    margin-right: 0.5em;
}
.status {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 2em;
}